

/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.login-and-register body{
	color: #c4c3ca;
	overflow-x: hidden;
}
.login-and-register a {
	cursor: pointer;
  transition: all 200ms linear;
}
.login-and-register a:hover {
	text-decoration: none;
}
.login-and-register .link {
  color: #c4c3ca;
}
.login-and-register .link:hover {
  color: #ffeba7;
}
.login-and-register .background-img-set p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
.login-and-register h4 {
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding-top: 10px;
  padding-bottom: 0;
}
.login-and-register h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.login-and-register .section{
    position: relative;
    width: 100%;
    display: block;
}
.login-and-register .full-height{
  min-height: 116vh;
}

.login-and-register .toggle-checkbox:checked,
.login-and-register .toggle-checkbox:not(:checked){
  position: absolute;
  left: -9999px;
}

.login-and-register .checkbox:checked + label,
.login-and-register .checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.login-and-register .checkbox:checked + label:before,
.login-and-register .checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.login-and-register .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.login-and-register .card-3d-wrap {
  position: relative;
  width: 550px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.login-and-register .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.login-and-register .card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url();
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 15px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.login-and-register .card-back {
  transform: rotateY(180deg);
}
.login-and-register .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.login-and-register .center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.login-and-register .form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.login-and-register .form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.login-and-register .form-style:focus,
.login-and-register .form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.login-and-register .input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.login-and-register .form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.login-and-register .form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.login-and-register .btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.login-and-register .btn:active,
.login-and-register .btn:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.login-and-register .btn:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.background-img-set {
    position: relative;
    background-image: url(../media/Login&RegisterBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.background-img-set::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adjust darkness here */
    z-index: 1;
}

/* To ensure content stays above overlay */
.background-img-set > .container {
    position: relative;
    z-index: 2;
}

.both-word {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.word-login {
    border-right: none;
}

.word-signup {
    border-left: none;
}

.login-and-register .form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .login-and-register .form-column {
    width: 48%;
  }
  
  .terms-and-conditions {
    color: white;
  }