/* header section start */

body {
    background-image: url(../media/orderdetail-bg.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}


.header-area {
    background-color: #fff !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15) !important;
}

.header-area.header-sticky {
    position: fixed !important;
    min-height: 80px;
}

.header-area .main-nav {
    min-height: 80px;   
    background: transparent;
    margin: 0px 50px;
    padding: 0px;
}

.header-area .main-nav .logo img {
    line-height: 100px;
    height: auto;
    padding-top: 35px !important;
    width: 160px;
    margin: 0;
    padding-top: 25px;
}

.header-area .main-nav .nav {
    float: right;
    display: flex !important;
    margin-top: 30px;
    padding-left: 0;
}

.header-area .main-nav .nav li {
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #2a2a2a !important;
    text-transform: capitalize;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.header-area .main-nav .nav li a.active,
.header-area .main-nav .nav li:hover a {
    color: #aaa !important;
}

/* header section end */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: 388px;
    background-size: 100%;
    padding-bottom: 30px;
    background-image: url(../media/footer-img.png);
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    display: none;
}

.footer_1 {
    width: 100%;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer_1 p{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.address_bt {
    width: 100%;
    float: left;
}

.address_bt ul {
    margin: 0px;
    padding: 0px;
}

.address_bt li {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
    list-style: none;
}

ul,li{
    list-style: none;
}

.address_bt li a {
    color: #ffffff;
}

.address_bt li a:hover {
    color: #f5ddb6;
}

.padding_left10 {
    padding-left: 10px;
}

.address_text {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
}

.dummy_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
    font-weight: 300;
    line-height: 24px;
}

.ipsum_text {
    width: 65%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
}

.main {
    width: 54%;
    float: right;
}

.social_icon {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #f5ddb6;
    padding-bottom: 15px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    font-size: 26px;
    color: #f5ddb6;
    padding: 10px;
}

.social_icon li a {
    color: #f5ddb6;
}

.social_icon li a:hover {
    color: #ffffff;
}

.footer_section .layout_padding {
    padding-top: 40px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.layout_padding{
    padding-top: 40px;
}

.col-middle{
    margin-top: -27px;
}

/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f5ddb6;
}

.margin_top90 {
    margin-top: 90px;
}

.mt-5{
    padding-top: 90px !important;
    width: 70% !important;
    margin-left: 15% !important;
}

.card-header{
    background-color: #f78787 !important;
}

.card-body{
    background-color: #ebc7c7 !important;
}

.table{
    background-color: #ebc7c7 !important;
}
